body{
    font-family: 'Times New Roman', Times, serif,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,Georgia, 'Times New Roman', Times, serif,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,Verdana, Geneva, Tahoma, sans-serif,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: antiquewhite;
    font-size: 20px;
    text-shadow: 1px 1px blue;
}
h1{
    text-align: center;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background-color: black;
    text-align: center;
    text-shadow: 2px 2px 5px red, 5px 5px 25px blueviolet; 
}
h3{
    text-align: center;
    text-decoration: underline solid white ;
    ;
}
.div1{
    width: 70%;
    float: left;
}
.div2{
    width: 30%;
    float: right;
    margin-top: -50px;
}
.img1{
    margin-left: 100px ;
}
.div3{
    margin-top: 120px;
    width: 30%;
    float: right;
}
.img2{
    margin-left: 100px;
}
.download{
    text-decoration: none;
    color: blueviolet;
}
.vs{
    color: blue;
}
.np{
    color: green;
}
.headsup{
    color: crimson;
}
.btn-default{
    background-color: black;
    color: white;
    text-decoration: none;
}

.pagination{
    font-size: 2.1rem;
    text-decoration: none;
    

}
.pagination-lg{
    list-style-type: none;
    
    

}
.page-item{
    display: inline-block;
    gap: 20%;
    padding: 5px;
    flex-wrap: wrap;
    max-width: 60%;
}
.page-link{
    background-color: white;
    color: black;
    text-decoration: none;
    
}
.page-link:hover{
   background-color: red;
   color: green;
}
.pageactive-link{
    color: white;
    background-color: green;
}
.goto{
    font-size: larger;
}